<form>
  <div *ngIf="independentQuestions">
    <div *ngFor="let question of independentQuestions; let i = index">
      <div class="form-group">
        <label for="questionText">
          <strong>Question</strong>
        </label>
        <p id="questionText" name="text">{{ question.text }}</p>
        <div class="form-group">
          <label for="answerChoices">
            <strong>Choose answer:</strong>
          </label>
          <div *ngFor="let answer of question.answers">
            <input type="radio" name="answer{{i}}" [value]="answer" (click)="answerRadioClick(question, answerRadio)" #answerRadio> {{ answer }}
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
